// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.row .no-margin{
	margin-left:0 px;
	margin-right:0 px;
}

.list-unstyled .well h4.h4{
	margin-top: 0;
	padding-top: 7px;
	margin-bottom: 7px;
}

.form-control{
	width:auto !important;
}

.form-custom-label{
	padding-top:8px;
}

.users-header{
	margin-bottom:20px
}

.custom-form{
	margin-top:20px;
	padding:20px;
	background-color: #e3e3e3;
	border-radius: 5px;
}

.form-control.datepicker{
	padding:6px 12px;
}



.users{
	.custom-buttons{
		padding-top: 2px
	}

	.user-field{
		overflow: hidden;
		text-overflow: ellipsis;
		margin-top: 0px; 
		padding-top:8px;

		.user-name{
			white-space: nowrap;
		}
	}

	.chart-icon{
		background:transparent;
		margin-top:2px; 
		border:none;
		color:black;
		font-size:16px;

	}

	.user-active{

	}
}

.progress{
	margin-bottom:0px;
}