	// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.application-container{
	background: url(../images/seamless_paper_texture.png);
}



.view-container.row{
	margin:0px;
	padding-bottom:100px;
	padding-left:20px;
	padding-right:20px;

	#tasks{margin-top:25px;
		.task-panel{

			.complete-container,.days-container{
				margin:0px;

				.custom-form-control{
					height:auto;
					width: auto;
				}
			}

			.task-controls{
				margin-bottom:10px;
				.nav.nav-pills{

					
					.glyphicon{
						color:#999999;
						
						
						&:hover{
							
							color:#FFFFFF;
						}
					}
				}
			}

			.task-item {
				border-bottom:2px ridge;
				padding:10px 5px;	
				background-color: #FFFFFF;
				border-radius: 3px;
				

				.title{
					margin-bottom:5px;
					margin-top:0px;
					font-weight: bold;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
				}

				.label{
					margin-top: 2px
				}

				.subtitle{
					margin-bottom:0px;
					padding-left:10px;
					display: inline-block;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
				}

			}
		}
	}

	.alert-window{
		position:fixed;
		right:30px;
		top:75px;
		.alert-messages{

			&:hover{
				.close{
					color:rgba(255,0,0,1)					
				}

				opacity:0.2
			}	
		}
	}
}

.form-label{
	color:#FFFFFF;
	text-shadow:1px 2px #666666;
}

.custom-page-header.row{
	
	background-color:#50AA80;
	margin-left:0px;
	margin-right:0px;

	.nav{
		>.open{
			>a{
				background-color:#259060;
			}
		}
		>li{
			>a{
				color:#EEEEEE;

			}
			>a:hover,>a:focus,a:active{
			 background-color:#259060;
			}
			>a.with-glyphicon{
				.glyphicon{
					margin-right:10px
				}
			}
		}
	}

	.menu{
		margin-top:15px;
	}

	.user{
		margin-top:15px;
		margin-bottom:10px
	}

	.caret{
		margin-left:5px
	}
}

.list-unstyled .well h4.h4{
	margin-top: 0;
	padding-top: 7px;
	margin-bottom: 7px;
}


.custom-form{

	margin-top:20px;
	padding:30px 20px;
	background-color: #FFFFFF;
	border-radius: 5px;

	.custom-form-control{
		width:auto;
	}

	.username{
		margin-bottom:40px;
	}
	.custom-form-control.search{
		margin-top:20px;
	}
}


.form-custom-label{
	padding-top:8px;
}

.users-header{
	margin-bottom:20px
}


.form-control.datepicker{
	padding:6px 12px;
}



.users{
	.custom-buttons{
		padding-top: 2px
	}

	.user-field{
		overflow: hidden;
		text-overflow: ellipsis;
		margin-top: 0px; 
		padding-top:8px;

		.user-name{
			white-space: nowrap;
		}
	}

	.chart-icon{
		background:transparent;
		margin-top:2px; 
		border:none;
		color:black;
		font-size:16px;

	}

	.user-active{

	}
}

.project-header{
	margin-bottom:20px;
	margin-top:10px;
}

.user-projects {

	.custom-progress{
		margin-bottom:0px;
	}
}

.tasks{

	margin-top:80px;
}

.slide-animate.ng-enter, .slide-animate.ng-leave{
 -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s;
  -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s;
   -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s;
      transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s;
 }


.slide-animate.ng-enter.ng-enter-active {
 position: absolute;
 left: 1300px;
}

.slide-animate.ng-enter {
 left: 0;
}

.slide-animate.ng-leave.ng-leave-active {
 position: absolute;
 left: -1700px;
 }

.slide-animate.ng-leave {
 right: 0;
 }