 <h3 class="text-center col-md-6 col-md-offset-3 form-label">Create New Company</h3>

<form novalidate class="css-form" ng-submit="update(company)">
	<section class="col-md-12 custom-form">
		<div class="form-group row">
			<label class="col-md-3 col-md-offset-2 text-right form-custom-label">Name</label>
			<input type="text" class="custom-form-control form-control col-md-2" ng-model="company.name" />
		</div>
		<div class="row">
			<input type="button" ng-click="reset()" value="Reset" class="btn btn-default  col-md-1 col-md-offset-3"/>
			<input type="submit" value="Save" class="btn btn-success col-md-1 col-md-offset-4"/>
		</div>
	</section>
</form>