
  <h3 class="text-center col-md-6 col-md-offset-3">Ajinkya Industrial Suppliers</h3>


<section class="row" ng-if="users">
  <h1 class="text-center h2">Overview</h1>
  <ul class="unstyled-list">
    <li ng-repeat="user in users">
      <section class="well col-md-10 col-md-offset-1">
        <h3 class="h3 col-md-3" style="margin-top: 0; padding-top:3px"><a href="#">{{user.name}}</a></h3>
        <div class="col-md-2 col-md-offset-7 text-right">
          <button class="btn btn-info">Edit</button>
          <button class="btn btn-danger">Delete</button>
        </div>
      </section>
    </li>
  </ul>
</section>