
<h3 class="text-center col-md-6 col-md-offset-3 form-label">Create New Project</h3>

<form novalidate ng-submit="addProject(newProject)" class="create-project">
	<section class="col-md-12 custom-form">
		<div class="form-group row">		
			<label for="newcompany" class="col-md-3 col-md-offset-3 text-right form-custom-label">Company</label>
			<select class="selectpicker show-tick" ng-model="newProject.company" ng-options="company.name for company in companies track by company.id" data-size="5" title="Select Company" data-live-search="true" id="newcompany">
				 <option class="hidden"></option>

			</select>
		</div>

		<div class="form-group row">		
			<label for="newuser" class="col-md-3 col-md-offset-3 text-right form-custom-label">Assigned to</label>
			<select class="selectpicker show-tick" ng-model="newProject.user" ng-options="user.name for user in users track by user.id" data-size="5" title="Select Asignee" id="newuser">
				 <option class="hidden"></option>
			</select>
		</div>

		<div class="form-group row">		
			<label for="supplier" class="col-md-3 col-md-offset-3 text-right form-custom-label">Principal</label>
			<select class="selectpicker show-tick" ng-model="newProject.supplier" ng-options="supplier.name for supplier in suppliers track by supplier.id" data-size="5" title="Select Supplier" id="supplier">
				<option class="hidden"></option>
			</select>
		</div>

		<div class="form-group row">
			<label for="projectedRevenue" class="col-md-3 col-md-offset-3 text-right form-custom-label">Projected Revenue</label>
			<input type="number" step="1000" class="custom-form-control form-control col-md-5" id="projectedRevenue" placeholder="Projected Revenue" ng-model="newProject.projected_revenue">
		</div>

		<div class="form-group row">
			<label for="startDate" class="col-md-3 col-md-offset-3 text-right form-custom-label">Start Date</label>
			<input type="text" class="custom-form-control form-control col-md-5 datepicker" id="startDate" placeholder="Start Date" ng-model="newProject.start_on">
		</div>

		<div class="form-group row">
			<label for="plannedEndDate" class="col-md-3 col-md-offset-3 text-right form-custom-label">Planned End</label>
			<input type="text" class="custom-form-control form-control col-md-5 datepicker" id="plannedEndDate" placeholder="Planned End" ng-model="newProject.planned_end">
		</div>
		<div class="row">
			<button type="button" class="btn btn-default col-md-1 col-md-offset-1" >Reset</button>
			<button type="submit" class="btn btn-success col-md-1 col-md-offset-7" >Submit</button>
		</div>
	</section>
</form>